# comments

In [2]:
# comments in python
# Line for the coder for his/her understading 
# not be read while execution for Python. Python will not execute the line

# Single line using '#'
# Multiline comment ''' ''' 


# Address
# 10a /1101
# Chandrapur
# Maharashtra
# 400076

In [3]:

'''
Address
10a /1101
Chandrapur
Maharashtra
400076

'''

'\nAddress\n10a /1101\nChandrapur\nMaharashtra\n400076\n\n'

In [4]:
# INtro to data types
'''
1. Numbers
    a. Int
    b. Float
    c. Complex
2. Strings

3. List

4. Tuples

5. Sets

6. Dictionaries

7. Boolean

8. etc etc..


'''

'\n1. Numbers\n    a. Int\n    b. Float\n    c. Complex\n2. Strings\n\n3. List\n\n4. Tuples\n\n5. Sets\n\n6. Dictionaries\n\n7. Boolean\n\n8. etc etc..\n\n\n'

# more on print()

In [5]:
print("Ramu")
print("Ramesh" ,"Suresh") 
# we can print n numbers of strings/variables inside the print()

Ramu
Ramesh Suresh

In [6]:
# print('I won't be coming tomorrow') #SyntaxError
print("I won't be coming tomorrow")

I won't be coming tomorrow

In [7]:
# print("sameer said,"he was not present on the site" ") #SyntaxError
print('''sameer said,"he was not present on the site"''')

sameer said,"he was not present on the site"

In [8]:
# pref  triple quotes, double quotes , single quotes

In [10]:
# HW
# Modify quotes in below code wherever necessary for print() to work without error

# print("Today is a good day")
# print("Mahatma gandhi said in his speech ,"we should work hard" ")
# print('It's a brand new car as the B'day gift')
# print("C:\Users\tanmay\docs")

In [11]:
# ESCAPE SEQUENCE


# Escape Character Meaning
# \”                Double quote
# \’                Single quote
# \\                backslash
# \n                New line
# \r                Carriage Return
# \t                Horizontal tab
# \b                Backspace
# \f                form feed
# \v                vertical tab
# \0                Null character
# \N{name}          Unicode Character Database named Lookup
# \uxxxxxxxx        Unicode Character with 16-bit hex value XXXX
# \Uxxxxxxxx        Unicode Character with 32-bit hex value XXXXXXXX
# \ooo              Character with octal value OOO
# \xhh              Character with hex value HH

In [12]:
print("C:\sers\nanmay\docs")
print('''C:\sers\nanmay\docs''')#this wont work

C:\sers
anmay\docs
C:\sers
anmay\docs

In [13]:
print("rahul")
print("\\rahul")
print("\\tanmay")

print("C:\\Users\\tannmay\docs")

rahul
\rahul
\tanmay
C:\Users\tannmay\docs

In [14]:
# using r-string i.e raw string
#  to ignore the Escape character

print(r"C:\Users\tanmay\docs")
print(R"C:\Users\tanmay\docs")

C:\Users\tanmay\docs
C:\Users\tanmay\docs

# string foramtting

In [15]:
zero = "Zero"
one = "One"
two = "Two"

print(zero,one,two)

Zero One Two

In [16]:
print("The numbers are ",zero, "and", one , "and" ,two)
print("The numbers are  {0} and {1} and {2}".format(zero,one,two))

The numbers are  Zero and One and Two
The numbers are  Zero and One and Two

In [17]:

name = "Ramesh"
age = 25
area = "Pune"

In [18]:
print(name,age,area),
print("My name is : ",name, "and I am :", age, "years old", "I live in :",area)

Ramesh 25 Pune
My name is :  Ramesh and I am : 25 years old I live in : Pune

In [19]:
print("My name is {0} and I am {1} years old and I live in {2}".format(name,age,area))
print("My name is {0} and I am {1} years old and I live in {2}".format(area,age,name))

My name is Ramesh and I am 25 years old and I live in Pune
My name is Pune and I am 25 years old and I live in Ramesh

In [20]:
print("My name is {} and I am {} years old and I live in {}".format(name,age,area)) #default sequence is considered
print("My name is {} and I am {} years old and I live in {}".format(area,age,name)) #default sequence is considered

My name is Ramesh and I am 25 years old and I live in Pune
My name is Pune and I am 25 years old and I live in Ramesh

In [21]:
# reordering the default sequence
#                                                                     0   1    2
print("My name is {2} and I am {1} years old and I live in {0}".format(area,age,name)) #default sequence is considered

My name is Ramesh and I am 25 years old and I live in Pune

In [22]:
# latest use
# using f-string

In [23]:

print("My name is {name} and I am {age} years old and I live in {area}") #default sequence is considered
print(f"My name is {name} and I am {age} years old and I live in {area}") #default sequence is considered

My name is {name} and I am {age} years old and I live in {area}
My name is Ramesh and I am 25 years old and I live in Pune

In [24]:
# HW
'''
A. use .format() to print below statement using the numerical values stored in variables

a = 100
b = 200
c = 300

The price of coke is 300 , spice is 100 and vcr is 200

Shyam has scored 300 in science , 200 in Physics and 300 in Maths


B. use f-string to print  below statement using the numerical values stored in above variables

The price of coke is 300 , spice is 100 and vcr is 200

Sameer has scored 300 in science , 200 in Physics and 300 in Maths


'''

'\nA. use .format() to print below statement using the numerical values stored in variables\n\na = 100\nb = 200\nc = 300\n\nThe price of coke is 300 , spice is 100 and vcr is 200\n\nShyam has scored 300 in science , 200 in Physics and 300 in Maths\n\n\nB. use f-string to print  below statement using the numerical values stored in above variables\n\nThe price of coke is 300 , spice is 100 and vcr is 200\n\nSameer has scored 300 in science , 200 in Physics and 300 in Maths\n\n\n'

# Intro to strings

# Indexing

In [25]:

# Indexing
    # Positive
    # Negative - limited use only

In [26]:
#    0123
name = "AMOL"


# Neg-Indexing	-6	-5	-4	-3	-2	-1
# Indexing	    0	1	2	3	4	5
# STRING	    P	Y	T	H	O	N
# Counting	    1	2	3	4	5	6

In [27]:
# Accessing the string using positive indexing
# eg.1
skill = "PYTHON"

In [28]:
print(skill)
print(type(skill)) #finding the data type using type()

PYTHON
<class 'str'>

In [29]:
# syntax
# variable[index_value]
print(skill[0])
print(skill[5])
print(skill[2])

P
N
T

In [30]:
#eg.2
mailid = "naveen1991.coep@gmail.com"

In [31]:
print(mailid[15]) # we need to print "@"

@

# slicing

In [ ]:

# syntax
# variable[start:end] end-1 i.e n-1

In [32]:
print(mailid[11:15]) # we want slice of mail id as  o/p "coep"
print(mailid[16:21]) # we want slice of mail id as  o/p "gmail"

coep
gmail

In [33]:
# slicing with jump/step values
# syntax
# variable[start:stop:step/jump] n-1 will be considered

In [34]:
phrase = "The sun is very bright and lively"

In [35]:
print(phrase[4:7]) #sun
print(phrase[0:21:3]) # one characters and two skip values

sun
T nse i

In [36]:
# if values are not provided in [::]

In [37]:

# Neg-Indexing	-6	-5	-4	-3	-2	-1
# Indexing	    0	1	2	3	4	5
# STRING	    P	Y	T	H	O	N
# Counting	    1	2	3	4	5	6

In [38]:
print(skill[::]) # All default values jump default = 1
print(skill[::1]) # All default values jump default = 1
# print(skill[::0]) # ValueError : slice step cannot be zero

PYTHON
PYTHON

In [39]:
# neg indexing 
    # to print the last element
    # to reverse the string

In [40]:

print(skill[-1])
# string reversal
# variable[::-1]
print(skill[::-1])

N
NOHTYP

In [41]:
#  HW
'''
sentence = " My email ID is nikhil.pune@yahoo.com $"

use indexing to print 
1. the 1st character
2. @
3. yahoo
4. $
5. slice with 3 characters to be skip
6. print the sentence in reverse order using neg indexing

character from the given sentence
'''

'\nsentence = " My email ID is nikhil.pune@yahoo.com $"\n\nuse indexing to print \n1. the 1st character\n2. @\n3. yahoo\n4. $\n5. slice with 3 characters to be skip\n6. print the sentence in reverse order using neg indexing\n\ncharacter from the given sentence\n'

# Methods in Strings

In [ ]:
# What are methods
# methods vs functions

In [44]:
print('''str.upper() and str.lower() Methods:
These methods return new strings with all characters in uppercase or lowercase, respectively.''')

str.upper() and str.lower() Methods:
These methods return new strings with all characters in uppercase or lowercase, respectively.

In [45]:
original_string = "Hello, World!"

uppercase_string = original_string.upper()
print(uppercase_string)  # Outputs: "HELLO, WORLD!"

lowercase_string = original_string.lower()
print(lowercase_string)  # Outputs: "hello, world!"

HELLO, WORLD!
hello, world!

In [46]:
print('''str.strip() and str.lstrip()/str.rstrip() Methods:
strip() removes leading and trailing whitespace characters from the string. lstrip() and rstrip() remove only from the left or right side, respectively.''')

str.strip() and str.lstrip()/str.rstrip() Methods:
strip() removes leading and trailing whitespace characters from the string. lstrip() and rstrip() remove only from the left or right side, respectively.

In [47]:
string_with_whitespace = "   Python Programming   "

stripped_string = string_with_whitespace.strip()
print(stripped_string)  # Outputs: "Python Programming"

left_stripped = string_with_whitespace.lstrip()
print(left_stripped)  # Outputs: "Python Programming   "

right_stripped = string_with_whitespace.rstrip()
print(right_stripped)  # Outputs: "   Python Programming"

Python Programming
Python Programming
   Python Programming

In [48]:
print('''str.replace() Method:
This method replaces all occurrences of a substring with another substring within a string.''')

str.replace() Method:
This method replaces all occurrences of a substring with another substring within a string.

In [49]:
original_string = "Hello, World!"

modified_string = original_string.replace("Hello", "Hi")
print(modified_string)  # Outputs: "Hi, World!"

Hi, World!

In [50]:
print('''str.split() Method:
This method splits a string into a list of substrings based on a specified delimiter.''')

str.split() Method:
This method splits a string into a list of substrings based on a specified delimiter.

In [51]:
sentence = "Python programming is fun"

words = sentence.split()
print(words)  # Outputs: ['Python', 'programming', 'is', 'fun']

['Python', 'programming', 'is', 'fun']

In [52]:
print('''str.find() and str.rfind() Methods:
find() returns the index of the first occurrence of a substring in a string, and rfind() returns the index of the last occurrence.''')

str.find() and str.rfind() Methods:
find() returns the index of the first occurrence of a substring in a string, and rfind() returns the index of the last occurrence.

In [54]:
sentence = "Python is easy to learn and Python is versatile"

first_occurrence = sentence.find("Python")
print(first_occurrence)  # Outputs: 0

last_occurrence = sentence.rfind("Python")
print(last_occurrence)  # Outputs: 24

0
28

In [55]:
print('''str.startswith() and str.endswith() Methods:
These methods check if a string starts or ends with a specified substring, returning a boolean value.''')

str.startswith() and str.endswith() Methods:
These methods check if a string starts or ends with a specified substring, returning a boolean value.

In [56]:
filename = "example.txt"

starts_with = filename.startswith("example")
print(starts_with)  # Outputs: True

ends_with = filename.endswith(".txt")
print(ends_with)  # Outputs: True

True
True

In [57]:
print('''str.join() Method:
This method joins elements of an iterable into a string using the specified string as a separator.''')

str.join() Method:
This method joins elements of an iterable into a string using the specified string as a separator.

In [58]:
words = ["Hello", "world", "from", "Python"]

sentence = " ".join(words)
print(sentence)  # Outputs: "Hello world from Python"

Hello world from Python

# more methods

In [59]:
print('''str.isdigit() and str.isalpha() Methods:
isdigit() checks if all characters in the string are digits. isalpha() checks if all characters are alphabetic.''')

str.isdigit() and str.isalpha() Methods:
isdigit() checks if all characters in the string are digits. isalpha() checks if all characters are alphabetic.

In [60]:
numeric_string = "12345"
alphabetic_string = "Hello"

is_numeric = numeric_string.isdigit()
print(is_numeric)  # Outputs: True

is_alphabetic = alphabetic_string.isalpha()
print(is_alphabetic)  # Outputs: True

True
True

In [61]:
print('''str.capitalize() and str.title() Methods:
capitalize() capitalizes the first character of a string. title() capitalizes the first character of each word in a string.''')

str.capitalize() and str.title() Methods:
capitalize() capitalizes the first character of a string. title() capitalizes the first character of each word in a string.

In [62]:
text = "python programming is fun"

capitalized = text.capitalize()
print(capitalized)  # Outputs: "Python programming is fun"

title_case = text.title()
print(title_case)  # Outputs: "Python Programming Is Fun"

Python programming is fun
Python Programming Is Fun

In [63]:
print('''str.count() Method:
This method counts the occurrences of a specified substring within a string.''')

str.count() Method:
This method counts the occurrences of a specified substring within a string.

In [64]:
sentence = "Python is an amazing language. Python is versatile."

count_python = sentence.count("Python")
print(count_python)  # Outputs: 2

2

In [65]:
print('''sentence = "Python is an amazing language. Python is versatile."

count_python = sentence.count("Python")
print(count_python)  # Outputs: 2
''')

sentence = "Python is an amazing language. Python is versatile."

count_python = sentence.count("Python")
print(count_python)  # Outputs: 2

In [66]:
lowercase_text = "hello world"
uppercase_text = "HELLO WORLD"

is_lowercase = lowercase_text.islower()
print(is_lowercase)  # Outputs: True

is_uppercase = uppercase_text.isupper()
print(is_uppercase)  # Outputs: True

True
True

In [67]:
print('''str.swapcase() Method:
This method swaps the case of each character in the string (lowercase to uppercase and vice versa).''')

str.swapcase() Method:
This method swaps the case of each character in the string (lowercase to uppercase and vice versa).

In [68]:
mixed_case_text = "PyThOn Is FuN"

swapped_case = mixed_case_text.swapcase()
print(swapped_case)  # Outputs: "pYtHoN iS fUn"

pYtHoN iS fUn

In [69]:
print('''str.startswith() and str.endswith() Methods with Tuple:
These methods can accept a tuple of prefixes or suffixes and check if the string starts or ends with any of them.''')

str.startswith() and str.endswith() Methods with Tuple:
These methods can accept a tuple of prefixes or suffixes and check if the string starts or ends with any of them.

In [70]:
filename = "example.txt"

starts_with = filename.startswith(("ex", "sample"))
print(starts_with)  # Outputs: True

ends_with = filename.endswith((".txt", ".pdf"))
print(ends_with)  # Outputs: True

True
True

# HW

In [71]:

x = '''Jana gana mana adhinayaka jaya he
Bharata bhagya vidhata
Panjaba Sindha Gujarata Maratha
Dravida Utkala Banga
Vindhya Himachala Yamuna Ganga
Uchchhala jaladhi taranga
Tava subha name jage,
tava subhasisa mage,
gahe tava jaya gatha.
Jana gana mangala dayaka jaya he
Bharata bhagya vidhata.
Jaya he, jaya he,
jaya he,
jaya jaya jaya jaya he'''

# 1. count how many time "jaya/Jaya" appeared
# 2. Replace Bharata with India
# 3. Find 1st occurance of Bharata
# 4. store every word in x in a LIST and observe the items in the list .

'''
print(x.count("jaya"))
print(x.count("Jaya"))

print(x.casefold().count("jaya"))

print(x.replace("Bharata","India"))

print(x.find("Bharata"))
print(x.index("Bharata"))

print(x.split(" "))
'''

'\nprint(x.count("jaya"))\nprint(x.count("Jaya"))\n\nprint(x.casefold().count("jaya"))\n\nprint(x.replace("Bharata","India"))\n\nprint(x.find("Bharata"))\nprint(x.index("Bharata"))\n\nprint(x.split(" "))\n'